* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    background-image: url(../graphic/background2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}
body,html {
    min-height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
h1 {
    display:inline-block;
    /*border-bottom: 2px solid #fff;*/
    color: #fff;
    font-family: 'Megrim', cursive;
    font-size: 65px;
    letter-spacing: .2em;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    height:50px;
    line-height: 50px;
}
.hidden {
	display: none;
}

a {
	color:#FFFFFF; 
	text-decoration: none;
}

.circle-button {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc((100% - 100px)/2);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out
}
#left-button {
    left: 20px;
    background-image: url(../graphic/left.png);
}
#left-button:hover {
    background-image: url(../graphic/left_hover.png);
}
#right-button {
    right: 20px;
    background-image: url(../graphic/right.png);
}
#right-button:hover {
    background-image: url(../graphic/right_hover.png);
}
.answerButton {
    width: 450px;
    height: 50px;
    background-color: #fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 0px;
    position: absolute;
    left: calc((100% - 450px)/2);
    top: 80%;
    color: #000;
    text-decoration: none;
    opacity: 0.4;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out
}
.answerButton:hover {
    background-color: #fff;
    opacity: 1.0;
}
.center {
	margin: 0 auto;
}
a.icon i {
	color: #B5B5B5;
}
a.icon:hover i {
	color: #454545;
}

/* header */
header {
	padding: 20px 40px 0 0;	
	height: 100px;
}

/* Menu */
.menubar-container {
	margin-left: 400px; 
	margin-top: 15px;
}

.menubar {
	min-height: 50px;
	position: relative;
}

.menubar-nav {
	margin: 0;
	float: right;
	list-style-type: none outside none;
}

.menubar-nav > li {
	float: left;
	position: relative;
	display: block;
}

.menubar-nav > li > a {
	display: block;
	padding: 10px 15px;
	position: relative;
	color: #FFFFFF;
	text-shadow: 0px 1px 0px #000000;
}

.menubar-nav > li.active > a, .menubar-nav > li > a:hover {
	color: #C1CDCD;
}


/* Dashboard */
.dashboard #wrapper {
	padding: 0 40px;
	width: 100%;
	/*height: 80%;*/
	text-align: center;
}

/* Karteikarte */
#wrapper {
    margin: 0 auto;
    width: calc(100% - 300px*1);
    /*height: 80%;*/
}
.paper {
    position: relative;
    top: calc((100% - 300px)/2);
    box-shadow: 4px 5px 8px rgba(75, 75, 75, 0.78);
    -moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
    background: white;
    
    /* Abstand fehlt
    border-top: 1px solid;
    border-color: #f00;
    margin-top: 10px;
    */
}

.paper-small {
    height: 180px;
    width: 320px;
    padding: 5px 20px 10px 5px;
}
.paper-dashboard {
	font-size: 24px;
	text-align: center;
	margin: 15px;
	float: left;
}
.paper-big {
    height: 400px;
    width: 650px;
    padding: 5px 20px 20px 5px;
}
.paper-buttons {
	margin: -40px -10px 0 0;
	position: relative;
	top: 55px;
	z-index: 5;
	float: right;
    -moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}
.paper2 {
    position: relative;
    padding-top: 40px;
    width: 105%;
    box-shadow: 4px 5px 8px rgba(75, 75, 75, 0.78);
    height: 105%;
    -moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
    background-color: #fff; 
	background-image: linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 40px;
}

.redBorder {
	padding: 10px;
	line-height: 38px;
	border-top: 1px solid red;
	width: 100%;
	height: 95%;
	overflow: hidden;
}

#paper:after {
    border-top: 1px solid red;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}

/* Paper Flip Animation */
.paper-animate .paper2 {
    -moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	transform-style: preserve-3d;
  	transition: transform 1s;
  	position: absolute;
}
.redBorder figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 85%;
  backface-visibility: hidden;
}
.redBorder .back {
  transform: rotateY( 180deg );
  padding-left: 20px;
}
.paper-animate .paper2.flipped {
  transform: rotateY(180deg);
}
.paper-animate .paper-holder {
	height: 100%;
  	width: 100%;
  	
    -moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	
	perspective: 800px;
}

/* paper editor */
.paper-textarea {
	width: 309px; 
	height: 134px;
	display: none;
}
.mce-tinymce {
	border: none!important;
	border-top: 1px #FF0000 solid!important;
}
.mce-content-body {
	background: rgba(0,0,0,0)!important;
}

/*Loginform*/

/*Loginform*/

.login-holder {
	margin: 100px auto 0;
	height: 520px;
	width: 500px;
}

.loginform {
    /* Size and position */
    width: 450px;
    height: 330px;
    margin: auto;
    position: relative; 
    top: 50px;
    /* Styles */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
}

.loginform input[type=text],
.loginform input[type=password] {
    /* Size and position */
    width: 80%;
    height: 40px;
    padding: 0 10px;
    /* Styles */
    border: none;
    /* Remove the default border */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    /* Font styles */
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    color: #fff;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    outline-color: #fff;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}
.loginform input[type=text] {
    position: absolute;
    top: 30%;
    left: 10%;
    background: url(../graphic/user-icon.png) no-repeat scroll 7px 7px;
    padding-left: 30px;
}
.loginform input[type=password] {
    position: absolute;
    top: 45%;
    left: 10%;
    background: url(../graphic/pw-icon.png) no-repeat scroll 7px 7px;
    padding-left: 30px;
}

.loginLabel {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    padding-left: 30%;
    padding-top: 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
    letter-spacing: 5px;
}
.loginButton {
    position: absolute;
    width: 80%;
    top: 70%;
    left: 10%;
    display: block;
    margin: 0 auto;
    padding: 1.6em 1em;
    max-width: 80%;
    color: #fff;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: rgba(45, 201, 238, 0.5);
    @include background-image(linear-gradient(#5fc1ff 0%, #0088de 100%));
    /*box-shadow: inset 0 0 7px 0 rgba(white, 0.5);*/
    border:0;
    
}

 .loginButton:hover {
	background-color:#5fc1ff;
}
 
.register {
	float: right;
	margin: 60px 30px 0;
}

/* Redirect Page */
.redirectHolder {
	margin: 100px auto 0;
	height:600px;
	width: 600px;
}

.redirectMsg {
    display:inline-block;
	color:white;
    width:100%;
    margin: 300px auto 0;
    text-align: center;
}

.dots {
	color:white;
	font-size:64px;
    text-align: center;
	margin: 200px auto 0;
	height:50px;
	width: 300px;
}